h1, h2, h3,
h4, h5, h6,
p{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: rgb(50,50,50);
}

.gray{
  color:gray;
  background-color: white;
}

.lightgray{
  color:lightgray;
  background-color: white;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: 600;
}
